<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base-layout}">

<head>
    <title>Danh sách nhà tuyển dụng</title>
</head>

<body>
<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Tên Công Việc</th>
                            <th scope="col">Công ty</th>
                            <th scope="col">Lương</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="job, iStat:${jobs}">
                            <th scope="row" th:text="${iStat.index} +1"></th>
                            <td th:text="${job.name}"></td>
                            <td th:text="${job.employer}">Otto</td>
                            <td th:text="${job.salary}">@mdo</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12">
                    <a class="nav-link" th:href="@{/add-job}">Thêm việc làm</a>
                </div>
            </div>
        </div>
    </section>
</div>
</body>

</html>